<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping App</title>
    <!-- <link rel="stylesheet" href="/css/item_styles.css"> -->
</head>

<body>
    <div class="container">
        <h1>Shopping App</h1>
        <div id="items-container"></div>
    </div>
    <ol>
      <li>pen <img src="/images/pen.jpeg" alt=""></li>
      <li>pencil <img src="/images/pencil.jpeg" alt=""></li>
      <li>eraser<img src="/images/eraser.jpeg" alt=""></li>
    </ol>
</body>

</html>
